.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.antdDropdown:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__ox6QR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 50%;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___4L42W {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-hEhaJs-JO);
  min-width: 0;
  min-height: 0;
  border-radius: 50%;
  padding: 4px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-kS5LJ-7c4);
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  display: block;
}
.logout {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
